* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
  }


/*+++++++++++++++++++++++++++*/
/* QUOTE GENERATOR STYLING*/
/*++++++++++++++++++++++++++*/
body {
    background-color: #d88c8a;
    font-family: 'Lato', sans-serif;
    color: #161414 ;
}

div {
    position:relative;
    z-index: 2;
  }

a {
    color: #f3f3f3;
}

a:hover {
    color: #bd413f;
}

.page-title {
    color: transparent;
}

#quote-box {
    min-width: 500px;
}

#quote-box p #text {
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 700;
}
span.quotation {
    font-size: 60px;
    color: #f3f3f3;
}

.quote-author span {
    font-weight: 300;
    font-size: 20px;
}

button#new-quote {
    background-color: transparent;
    border: 1px solid #161414;
   
    font-weight: 500;
    padding: 11px 20px;
    color: inherit;
    transition: all 0.2s ease-in;
}
button#new-quote:hover {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
}

i.fa.fa-twitter {
    font-size: 30px;
}

.creator {
    font-size: 16px;
    font-weight: 300;
}

#footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}